{
  "reporter": [
    "html",
    "text",
    "json",
    "lcov",
    "clover",
    "text-summary"
  ],
  "reports-dir": "./coverage",
  "include": ["src/**/*.{ts,vue}"],
  "exclude": [
    "src/configs",
    "src/router",
    "src/locales",
    "src/assets",
    "src/constants",
    "src/enums",
    "src/components",
    "src/types",
    "src/utilities",
    "src/mocks"
  ]
}